.icecream__time{
    background-image: url('http://scorm.com/wp-content/uploads/2012/03/drupal-ice-cream-cone.png');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 250px;
    font-size: 40px;
    height: 191px;
}