{# Full page display on /its-icecream-time #}
<div class="icecream__time">
    {% trans %}
      1 user applied for icecream. Party!
    {% plural statistics.getNumberApplied  %}
      {{ statistics.getNumberApplied  }} users applied for icecream. Party!
    {% endtrans %}
</div>